.welcome-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.welcome-txt {
    text-align: center;
}

.welcome-img {
    width: 400px; 
    height: 350px; 
}
.welcome-img img {
    width: 100%;
    height: 100%;
}
